<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/all.min.css">
    <link rel="stylesheet" href="/style/admin_teacher_info_detail.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
	<div th:replace="thyme/layout_admin :: style"></div>
</head>
<body>

<div id="wrap">

	<div th:replace="thyme/layout_admin :: header"></div>

    <div id="container">
        <div class="content_wrap">
            <div class="menu">
                <ul class="menu_list">
                    <li><a href="" th:href="@{/admin/listUsers.do}">고객 관리</a></li>
                    <li><a href="" th:href="@{/admin/listTeachers.do}">강사 관리</a></li>
                    <li><a href="" th:href="@{/admin/listOrders.do}">예약 관리</a></li>
                    <li><a href="" th:href="@{/admin/listTeacherPayments.do}">결제 관리</a></li>
                    <li><a href="" th:href="@{/admin/listClasses.do}">게시판 관리</a></li>
                </ul>
            </div>
            <div class="content">
                <form>
                    <div class="info_wrap">
                        <ul class="info_list">
                            <li class="profile_title">
                                <div>강사 정보</div>
                            </li>
                            <!-- <li class="profile_item picture_item">
                                <div class="picture_update_wrap">
                                    <div>
                                        <label class="picture" for="pictureInput">
                                            <img src="../img/prof.jpg"/>
                                        </label>
                                        <input type="file" id="pictureInput" class="picture_input" accept="image/jpg, image/jpeg, image/png" multiple="" style="display:none" onchange="setThumbnail(event);">
                                    </div>
                                </div>
                            </li> -->
                            <li class="info_item">
                                <div>이름</div>
                                <div th:text="${teacher.teacher_name}">오윤희</div>
                            </li>
                            <li class="info_item">
                                <div>아이디</div>
                                <div th:text="${teacher.teacher_id}">ohwoonhee0101</div>
                            </li>
                            <li class="info_item">
                                <div>휴대전화</div>
                                <div th:text="${teacher.phonenum}">010-1111-2222</div>
                            </li>
                            <li class="info_item">
                                <div>이메일</div>
                                <div th:text="${teacher.email}">ohwoonhee0101@naver.com</div>
                            </li>
                            <li class="info_item">
                                <div>등록일</div>
                                <div th:text="${teacher.register_date}">2021-04-01</div>
                            </li>
                        </ul>
                        <!-- <ul class="info_list">
                            <li class="profile_title">
                                <div>강사가 등록한 수업</div>
                            </li>
                        </ul> -->
                        <ul class="info_btn">
                            <li>
                                <div class="btn_area double">
                                    <span><!-- tg-text=terms_button_cancel --><a href="#" id="btnCancel" class="btn_type btn_default" role="button">삭제하기</a></span>
                                    <span><!-- tg-text=terms_button_agree --><a href="#" th:href="@{/admin/listTeachers.do}" id="btnAgree" class="btn_type btn_primary" role="button">돌아가기</a></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div><!--end container-->

    <div id="footer"></div><!--end footer-->

</div><!--end wrap-->



</body>
</html>