<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/style/reset.css" type="text/css" />
  	<link rel="stylesheet" href="/style/all.min.css" type="text/css" />
  	<link rel="stylesheet" href="/style/admin_payment.css" type="text/css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
	<div th:replace="thyme/layout_admin :: style"></div>
</head>
<body>

<div id="wrap">


	<div th:replace="thyme/layout_admin :: header"></div>
	
    <div id="container">
        <div class="content_wrap">
            <div class="menu">
                <ul class="menu_list">
                    <li><a href="" th:href="@{/admin/listUsers.do}">고객 관리</a></li>
                    <li><a href="" th:href="@{/admin/listTeachers.do}">강사 관리</a></li>
                    <li><a href="" th:href="@{/admin/listOrders.do}">예약 관리</a></li>
                    <li><a href="" th:href="@{/admin/listTeacherPayments.do}">결제 관리</a></li>
                    <li><a href="" th:href="@{/admin/listClasses.do}">게시판 관리</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="bulletin-date">
                    <b class="bulletin-date-text">2020.04 결제</b>
                </div>

                <table>
                <thead>
                    <tr>
                    <th class="jb-th-1">ID</th><th>NAME</th><th>TITLE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td class="jb-td-1">A1001</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1002</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1003</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1004</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1005</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                </tbody>
                </table>

                <div id="page-num">
                    <ul>  
                        <li><a href="#">1</a></li>  
                        <li><a href="#">2</a></li>  
                        <li><a href="#">3</a></li>  
                        <li><a href="#">4</a></li>  
                        <li><a href="#">5</a></li>  
                        <li><a href="#">6</a></li>  
                        <li><a href="#">7</a></li>  
                        <li><a href="#">8</a></li>  
                        <li><a href="#">9</a></li>  
                        <li><a href="#">10</a></li>  
                    </ul>
                </div>


                <div class="bulletin-date">
                    <b class="bulletin-date-text">2020.05 결제</b>
                </div>
                <table>
                <thead>
                    <tr>
                    <th class="jb-th-1">ID</th><th>NAME</th><th>TITLE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td class="jb-td-1">A1001</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1002</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1003</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1004</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1005</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                </tbody>
                </table>

                <div id="page-num">
                    <ul class="page-num">  
                        <li><a href="#">1</a></li>  
                        <li><a href="#">2</a></li>  
                        <li><a href="#">3</a></li>  
                        <li><a href="#">4</a></li>  
                        <li><a href="#">5</a></li>  
                        <li><a href="#">6</a></li>  
                        <li><a href="#">7</a></li>  
                        <li><a href="#">8</a></li>  
                        <li><a href="#">9</a></li>  
                        <li><a href="#">10</a></li>  
                    </ul>
                </div>
            </div>
            
        </div>
    </div><!--end container-->

    <div id="footer"></div><!--end footer-->

</div><!--end wrap-->



</body>
</html>