<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    
    <link rel="stylesheet" href="/style/reset.css" type="text/css" />
  	<link rel="stylesheet" href="/style/all.min.css" type="text/css" />
  	<link rel="stylesheet" href="/style/admin_teacher_list.css" type="text/css" />
  	
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
	<div th:replace="thyme/layout_admin :: style"></div>
</head>
<body>

<div id="wrap">

	<div th:replace="thyme/layout_admin :: header"></div>

    <div id="container">
        <div class="content_wrap">
            <div class="menu">
                <ul class="menu_list">
                    <li><a href="" th:href="@{/admin/listUsers.do}">고객 관리</a></li>
                    <li><a href="" th:href="@{/admin/listTeachers.do}">강사 관리</a></li>
                    <li><a href="" th:href="@{/admin/listOrders.do}">예약 관리</a></li>
                    <li><a href="" th:href="@{/admin/listTeacherPayments.do}">결제 관리</a></li>
                    <li><a href="" th:href="@{/admin/listClasses.do}">게시판 관리</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="manage-name">
                    <select name="sort">
                        <option value="등록일순" selected="selected">등록일순</option>
                        <option value="이름순">이름순</option>
                        <option value="번호순">번호순</option>
                    </select>
                    <div class="total-num">
                        총 <b class="total-num" th:text="${size}"style="color:black" >14</b>명
                    </div>
                </div>
                <form>
                    <div class="info_wrap">
                        <table>
                        <thead>
                            <tr>
                            <th class="jb-th-1">번호</th><th>이름</th><th>등록일</th><th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="teacher,iterStat : ${teacherList}">
                            	<td class="jb-td-1" th:text="${teacher.teacher_id}">1</td>
                            	<td th:text="${teacher.teacher_name}">김원희</td>
                            	<td th:text="${teacher.register_date}">2021-04-04</td>
                            	<td><a href="" th:href="@{/admin/listUsers.do}">상세보기</a></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </form>
                <div id="page-num">
                    <ul>  
                        <li><a href="#">1</a></li>  
                        <li><a href="#">2</a></li>  
                        <li><a href="#">3</a></li>  
                        <li><a href="#">4</a></li>  
                        <li><a href="#">5</a></li>  
                        <li><a href="#">6</a></li>  
                        <li><a href="#">7</a></li>  
                        <li><a href="#">8</a></li>  
                        <li><a href="#">9</a></li>  
                        <li><a href="#">10</a></li>  
                    </ul>
                </div>
            </div>
        </div>
    </div><!--end container-->

    <div id="footer"></div><!--end footer-->

</div><!--end wrap-->



</body>
</html>