<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결제한 내역</title>
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/all.min.css">
    <link rel="stylesheet" href="/style/my_purchase.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

<div id="wrap">

    <div id="header">
        <div class="header_nav">
            <div class="header_nav_logo">
                <a href="">RingMaBody</a>
                <span class="my_page_logo">MY PAGE</span>
            </div>
            <div class="header_nav_logo_right">
                <div class="header_nav_login">
                    <a href=""><span th:text="${user.user_name}">김프링</span>&nbsp;회원님</a>
      				<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a href="">로그아웃</a>
                </div>
            </div>
        </div><!--end header_nav-->
    </div><!--end header-->

    <div id="container">
        <div class="content_wrap">
            <div class="menu">
                <ul class="menu_list">
                    <li><a href="" th:href="@{info.do}">개인정보 관리</a></li>
                    <li><a href="" th:href="@{purchase.do}">결제한 내역</a></li>
                    <li><a href="">스크랩</a></li>
                    <li><a href="" th:href="@{review.do}">작성한 리뷰</a></li>
                </ul>
            </div>
            <div class="content">
                <form action="">
                    <div class="content_header">
                        <div class="title_wrap">
                            <div>결제한 내역</div>
                        </div>
                        <div class="count_wrap">
                            <div class="total_count">총<span th:text="${size}">4</span>개</div>
                        </div>
                    </div>

                    <div class="post_wrap">
                        <section>
                            <!--게시글 시작-->
                            <div class="inner">
                                <div class="find_a_list">

                                    <!--게시글 리스트-->
                                    <div class="post_list">
                                    
                                     <div class="review_box" th:each="review, iterStat : ${review}">
                                            <p class="review_rate" th:text="${review.review_rating}">5</p>
                                            <p class="review_title" th:text="${review.review_title}">너무 좋아요 강력추천</p>
                                            <p class="review_date" th:text="${review.review_date}">2021.04.05</p>
                                            <p class="review_rec" th:text="${review.review_like}">2</p>
                                        </div>
                                        
                                        <div class='detail_box' th:each="order, iterStat : ${order}">
                                            <img class='detail_img' src="/images/yoga.jpg"><br></img>
                                            <div class="detail_title_box">
                                                <p class='detail_title'>필라테스 함께해요~ 바른 자세 만들어요</p>
                                                <p class='detail_info detail_category'><i class="fas fa-tag"></i>&nbsp;요가/필라테스</p>
                                                <p class='detail_info detail_time'><i class="far fa-calendar-alt"></i>&nbsp;2021-04-10 pm02:00</p>
                                                <p class='detail_info detail_location'><i class="fas fa-map-marker-alt"></i>&nbsp;서울 강남구 봉은사로38길 12 3층</p>
                                                <p class='detail_info detail_people'><i class="fas fa-user"></i>&nbsp;5명 (최소인원 2명)</p>
                                                <p class='detail_info detail_value'><i class="fas fa-won-sign"></i><span th:text="${order.total_price}">&nbsp;15,000</span></p>
                                            </div>
                                            <div class="detail_pay_box">
                                                <p class='pay_date'>결제일 <span th:text="${#dates.format(order.order_date, 'yyyy-MM-dd')}">2021-04-05</span></p>
                                                <p class='review_button'>리뷰 작성</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </form>
            </div>
        </div>
    </div><!--end container-->

    <div id="footer"></div><!--end footer-->

</div><!--end wrap-->

<script>

</script>


</body>
</html>