<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>작성한 리뷰</title>
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/all.min.css">
    <link rel="stylesheet" href="/style/my_review.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
     <div th:replace="thyme/layout_admin :: style"></div>
</head>
<body>

<div id="wrap">
<div th:replace="thyme/layout_admin :: header"></div>


    <div id="container">
        <div class="content_wrap">
            <div class="menu">
                <ul class="menu_list">
                    <li><a href="" th:href="@{/mypage/info.do}">개인정보 관리</a></li>
                    <li><a href="" th:href="@{/mypage/purchase.do}">결제한 내역</a></li>
                    <li><a href="" th:href="@{/mypage/review.do}">작성한 리뷰</a></li>
                </ul>
            </div>
            <div class="content">
                <form action="">
                    <div class="content_header">
                        <div class="title_wrap">
                            <div>작성한 리뷰</div>
                        </div>
                        <div class="count_wrap">
                            <div class="total_count">총 <span th:text="${size}">4</span>개</div>
                        </div>
                    </div>

                    <div class="post_wrap">
                        <section>
                            <!--게시글 시작-->
                            <div class="inner">
                                <div class="find_a_list">

                                    <!--게시글 리스트-->
                                    <div class="post_list">
                                        <div class="review_box_top">
                                            <p class="review_rate_top">평점</p>
                                            <p class="review_title_top">제목</p>
                                            <p class="review_date_top">작성일</p>
                                            <p class="review_rec_top">추천수</p>
                                        </div>
                            			
                                        <div class="review_box" th:each="review, iterStat : ${review}">
                                            <p class="review_rate" th:text="${review.review_rating}">5</p>
                                            <a class="review_title" th:text="${review.review_title}" th:href="${review.review_id} + @{/review.detail.do}">너무 좋아요 강력추천</a>
                                            <p class="review_date" th:text="${#dates.format(review.review_date, 'yyyy-MM-dd')}">2021.04.05</p>
                                            <p class="review_rec" th:text="${review.review_like}">2</p>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="paging_btn_wrap">
                        <div class="post_paging_btn_wrap"></div>
                    </div>

                </form>
            </div>
        </div>
    </div><!--end container-->

    <div id="footer"></div><!--end footer-->

</div><!--end wrap-->



</body>
</html>
