<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.MainMapper">
  <cache />
	<!-- 오늘날짜보다 큰 마감일 클래스들 중에서 가장 작은 클래스들 3개(마감임박 클래스들) -->
	<select id="endingSoon" resultType="com.example.jpetstore.domain.Class">
		<![CDATA[
		SELECT * FROM
		(SELECT ROWNUM AS NUM, C.* FROM
		(SELECT CLASS.*
		 FROM CLASS
		 WHERE EDATE > SYSDATE
		 ORDER BY EDATE)C)
		 WHERE NUM <= 3
		 ]]>
	</select>
	
	<!-- 	오늘날짜와 마감일까지의 남은 일수가 7일 이하인 클래스들 중에서 조회수가 높은 상위 클래스 3개 -->
	<select id="bestClass" resultType="com.example.jpetstore.domain.Class">
		<![CDATA[
		SELECT * FROM
		(SELECT ROWNUM AS NUM, C.* FROM
		(SELECT * FROM CLASS
		WHERE TO_DATE(SYSDATE) - TO_DATE(EDATE) <= 7 AND STATE = '진행중'
		ORDER BY HIT DESC)C)
		WHERE NUM <= 3
		]]>	
	</select>

</mapper>
