<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.OrderMapper">

  <cache />
    <sql id="BaseColumns">
  		ORDER_ID, CLASS_ID, USER_ID, CARD_BANK, CARD_NUMBER, EXPIRATION_DATE, CVC, TOTAL_PRICE
    </sql>
	 <select id="getOrdersByUsername" resultType="Order">
		SELECT ORDER1.ORDER_ID,
	    	   ORDER1.CLASS_ID,
	    	   ORDER1.USER_ID,
	    	   ORDER1.ORDER_DATE,
	    	   ORDER1.CARD_BANK,
	    	   ORDER1.CARD_NUMBER,
	    	   ORDER1.EXPIRATION_DATE,
	    	   ORDER1.CVC,
	    	   ORDER1.TOTAL_PRICE
	   	FROM ORDER1
	    WHERE ORDER1.USER_ID = #{username}
	 </select>
	
	<update id="updateParticipant" parameterType="int">
		UPDATE CLASS SET PARTICIPANT = PARTICIPANT + 1
		WHERE CLASS_ID = #{class_id}
	</update>  

	<!-- order1 테이블에 삽입하기 -->
	<insert id="insertOrder" parameterType="com.example.jpetstore.domain.Order">
		<selectKey keyProperty="order_id" resultType="int" order="BEFORE">
			SELECT ORDER_ID_SEQ.NEXTVAL AS order_id FROM DUAL
		</selectKey>
		INSERT INTO ORDER1 ( <include refid="BaseColumns" /> )
		VALUES(#{order_id}, #{class_id}, #{user_id, jdbcType=VARCHAR},#{card_bank, jdbcType=VARCHAR},#{card_number, jdbcType=VARCHAR}, 
		#{expiration_date, jdbcType=DATE}, #{cvc, jdbcType=INTEGER}, #{total_price})
	</insert>
</mapper>
