<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.ReviewMapper">
  <cache />
 
	 <select id="getReviewsByUsername" resultType="Review">
		SELECT REVIEW.REVIEW_ID,
	    	   REVIEW.CLASS_ID,
	    	   REVIEW.REVIEW_DATE,
	    	   REVIEW.USER_ID,
	    	   REVIEW.REVIEW_TITLE,
	    	   REVIEW.REVIEW_CONTENT,
	    	   REVIEW.REVIEW_LIKE,
	    	   REVIEW.REVIEW_RATING,
	    	   REVIEW.REVIEW_IMG,
	    	   REVIEW.REVIEW_HIT,
	    	   REVIEW.ORDER_ID
	   	FROM REVIEW
	    WHERE REVIEW.USER_ID = #{username}
	 </select>
	 
	 <insert id="insertReview" parameterType="Review">
	 	insert into review
		values (102, 33, systimestamp,'user002', #{review_title}, #{review_content}, 0, 5, 'img1.jpg', 0)
	 </insert>
	 
	 <select id="getAllReviews" resultType="Review">
	    SELECT REVIEW.REVIEW_ID,
	    	   REVIEW.CLASS_ID,
	    	   REVIEW.REVIEW_DATE,
	    	   REVIEW.USER_ID,
	    	   REVIEW.REVIEW_TITLE,
	    	   REVIEW.REVIEW_CONTENT,
	    	   REVIEW.REVIEW_LIKE,
	    	   REVIEW.REVIEW_RATING,
	    	   REVIEW.REVIEW_IMG,
	    	   REVIEW.REVIEW_HIT,
	    	   REVIEW.ORDER_ID
	    FROM REVIEW
  	</select>
  	
  	<select id="getReviewDetail" resultType="Review">
		SELECT REVIEW.REVIEW_ID,
	    	   REVIEW.CLASS_ID,
	    	   REVIEW.REVIEW_DATE,
	    	   REVIEW.USER_ID,
	    	   REVIEW.REVIEW_TITLE,
	    	   REVIEW.REVIEW_CONTENT,
	    	   REVIEW.REVIEW_LIKE,
	    	   REVIEW.REVIEW_RATING,
	    	   REVIEW.REVIEW_IMG,
	    	   REVIEW.REVIEW_HIT,
	    	   REVIEW.ORDER_ID
	   	FROM REVIEW
	    WHERE REVIEW.REVIEW_ID = #{review_id}
	 </select>
	 
	 
	 <select id="updateReview" resultType="Review">
	 	update review
		set review_title=#{review_title}, review_content=#{review_content} 
		where review_id=#{review_id}
	 </select>
 
 </mapper>
