<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.ReviewMapper">
  <cache />
 
	 <select id="getReviewsByUsername" resultType="Review">
		SELECT REVIEW.REVIEW_ID,
	    	   REVIEW.CLASS_ID,
	    	   REVIEW.REVIEW_DATE,
	    	   REVIEW.USER_ID,
	    	   REVIEW.REVIEW_TITLE,
	    	   REVIEW.REVIEW_CONTENT,
	    	   REVIEW.REVIEW_LIKE,
	    	   REVIEW.REVIEW_RATING,
	    	   REVIEW.REVIEW_IMG,
	    	   REVIEW.REVIEW_HIT,
	    	   REVIEW.ORDER_ID
	   	FROM REVIEW
	    WHERE REVIEW.USER_ID = #{username}
	 </select>
	 
	 <select id="getAllReviews" resultType="Review">
	    SELECT REVIEW.REVIEW_ID,
	    	   REVIEW.CLASS_ID,
	    	   REVIEW.REVIEW_DATE,
	    	   REVIEW.USER_ID,
	    	   REVIEW.REVIEW_TITLE,
	    	   REVIEW.REVIEW_CONTENT,
	    	   REVIEW.REVIEW_LIKE,
	    	   REVIEW.REVIEW_RATING,
	    	   REVIEW.REVIEW_IMG,
	    	   REVIEW.REVIEW_HIT,
	    	   REVIEW.ORDER_ID
	    FROM REVIEW
  	</select>
  	
  	<select id="getReviewDetail" resultType="Review">
		SELECT REVIEW.REVIEW_ID,
	    	   REVIEW.CLASS_ID,
	    	   REVIEW.REVIEW_DATE,
	    	   REVIEW.USER_ID,
	    	   REVIEW.REVIEW_TITLE,
	    	   REVIEW.REVIEW_CONTENT,
	    	   REVIEW.REVIEW_LIKE,
	    	   REVIEW.REVIEW_RATING,
	    	   REVIEW.REVIEW_IMG,
	    	   REVIEW.REVIEW_HIT,
	    	   REVIEW.ORDER_ID
	   	FROM REVIEW
	    WHERE REVIEW.REVIEW_ID = #{review_id}
	 </select>
	 
	 <!-- 리뷰 작성 -->
	 <insert id="writeReview" parameterType="com.example.jpetstore.domain.Review">
		<selectKey keyProperty="review_id" resultType="int" order="BEFORE">
			SELECT REVIEW_ID_SEQ.NEXTVAL AS review_id FROM DUAL
		</selectKey>
		INSERT INTO REVIEW
		VALUES(#{review_id}, #{class_id}, systimestamp, #{user_id, jdbcType=VARCHAR}, 
		#{review_title, jdbcType=VARCHAR}, #{review_content, jdbcType=VARCHAR},
		0,  #{review_rating}, #{review_img, jdbcType=VARCHAR}, 0,
		#{order_id} )
	</insert>
 
 </mapper>